librosa
faster-whisper
pydub
wavmark==0.0.3
numpy==1.23.5
eng_to_ipa
inflect==7.0.0
unidecode
whisper-timestamped
python-dotenv
pypinyin
cn2an
jieba==0.42.1
gradio
langid
torch
torchvision
torchaudio
